/node_modules
/public/hot
/public/storage
/public/apigen.yml
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vagrant
composer.lock
artisan
sitemaps
lang
/public/socials.html