/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap; }
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Light.woff2") format("woff2"), url("../fonts/Calibri-Light.woff") format("woff");
  font-weight: 300;
  font-style: bold;
  font-display: swap; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
input, textarea, select, button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  line-height: normal;
  background-color: inherit;
  color: black;
  -webkit-appearance: none; }

i {
  font-style: italic; }

b {
  font-weight: bold; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  cursor: pointer; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.tac {
  text-align: center; }

@media screen and (max-width: 768px) {
  .mobile-tac {
    text-align: center; } }

.tar {
  text-align: right; }

.tal {
  text-align: left; }

.tac-desktop {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .tac-desktop {
      text-align: inherit; } }

.hidden-mobile {
  display: none; }
  @media screen and (max-width: 768px) {
    .hidden-mobile {
      display: inherit; } }

.hidden-non-mobile {
  display: inherit; }
  @media screen and (max-width: 768px) {
    .hidden-non-mobile {
      display: none; } }

.flex-mobile,
.flex {
  display: flex; }
  .flex-mobile.wrap,
  .flex.wrap {
    flex-flow: row wrap; }
  @media screen and (max-width: 768px) {
    .flex-mobile.wrap-mobile,
    .flex.wrap-mobile {
      flex-flow: row wrap; } }
  .flex-mobile.space-between,
  .flex.space-between {
    justify-content: space-between; }
  .flex-mobile .col,
  .flex .col {
    flex: 1;
    position: relative; }
  .flex-mobile .flex-2,
  .flex .flex-2 {
    flex: 2; }
  .flex-mobile .flex-3,
  .flex .flex-3 {
    flex: 3; }
  .flex-mobile .flex-4,
  .flex .flex-4 {
    flex: 4; }
  .flex-mobile .flex-5,
  .flex .flex-5 {
    flex: 5; }
  .flex-mobile .flex-6,
  .flex .flex-6 {
    flex: 6; }
  .flex-mobile .flex-7,
  .flex .flex-7 {
    flex: 7; }
  .flex-mobile .flex-8,
  .flex .flex-8 {
    flex: 8; }
  .flex-mobile .flex-9,
  .flex .flex-9 {
    flex: 9; }
  .flex-mobile .flex-10,
  .flex .flex-10 {
    flex: 10; }
  @media screen and (max-width: 1200px) {
    .flex-mobile.break-pc,
    .flex.break-pc {
      flex-direction: column; }
      .flex-mobile.break-pc > .col, .flex-mobile.break-pc > .flex-2, .flex-mobile.break-pc > .flex-3, .flex-mobile.break-pc > .flex-5, .flex-mobile.break-pc > .flex-6, .flex-mobile.break-pc > .flex-8,
      .flex.break-pc > .col,
      .flex.break-pc > .flex-2,
      .flex.break-pc > .flex-3,
      .flex.break-pc > .flex-5,
      .flex.break-pc > .flex-6,
      .flex.break-pc > .flex-8 {
        padding-left: 0px;
        padding-right: 0px; } }
  @media screen and (max-width: 998px) {
    .flex-mobile.break-tablet,
    .flex.break-tablet {
      flex-direction: column; }
      .flex-mobile.break-tablet > .col, .flex-mobile.break-tablet > .flex-2, .flex-mobile.break-tablet > .flex-3, .flex-mobile.break-tablet > .flex-5, .flex-mobile.break-tablet > .flex-6, .flex-mobile.break-tablet > .flex-8,
      .flex.break-tablet > .col,
      .flex.break-tablet > .flex-2,
      .flex.break-tablet > .flex-3,
      .flex.break-tablet > .flex-5,
      .flex.break-tablet > .flex-6,
      .flex.break-tablet > .flex-8 {
        padding-left: 0px;
        padding-right: 0px; } }
  @media screen and (max-width: 768px) {
    .flex-mobile.break-mobile,
    .flex.break-mobile {
      flex-direction: column; }
      .flex-mobile.break-mobile > .col, .flex-mobile.break-mobile > .flex-2, .flex-mobile.break-mobile > .flex-3, .flex-mobile.break-mobile > .flex-5, .flex-mobile.break-mobile > .flex-6, .flex-mobile.break-mobile > .flex-8,
      .flex.break-mobile > .col,
      .flex.break-mobile > .flex-2,
      .flex.break-mobile > .flex-3,
      .flex.break-mobile > .flex-5,
      .flex.break-mobile > .flex-6,
      .flex.break-mobile > .flex-8 {
        padding-left: 0px;
        padding-right: 0px; } }
  .flex-mobile .line-break,
  .flex .line-break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden; }
  @media screen and (max-width: 998px) {
    .flex-mobile .line-break-tablet,
    .flex .line-break-tablet {
      flex-basis: 100%;
      width: 0px;
      height: 0px;
      overflow: hidden; } }
  @media screen and (max-width: 768px) {
    .flex-mobile .line-break-mobile,
    .flex .line-break-mobile {
      flex-basis: 100%;
      width: 0px;
      height: 0px;
      overflow: hidden; } }

@media screen and (max-width: 768px) {
  .flex {
    display: block; } }

.flex-tablet {
  display: block; }
  @media screen and (max-width: 998px) {
    .flex-tablet {
      display: flex; } }

@media screen and (max-width: 768px) {
  .flex-mobile {
    display: flex; } }

.flex-center {
  align-items: center; }

.flex-text-center {
  justify-content: center; }

.flex-bottom {
  align-items: flex-end; }

.flex-item-right {
  margin-left: auto; }

.flex-item-left {
  margin-right: auto; }

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
  background: transparent; }
  @media screen and (max-width: 998px) {
    .container {
      width: 700px; } }
  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; } }
  .container img {
    max-width: 100%; }

.back {
  color: #00b7e2;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
  display: inline-block; }

.site-content {
  min-height: calc(100vh - 350px);
  overflow-x: hidden; }

.alert.alert-success {
  color: #2b9b60;
  background-color: #e4ffe4;
  border: 1px solid #2b9b60;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  padding: 10px 7px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  color: #2b9b60; }

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #a94442;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  padding: 10px 7px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center; }
  .alert-error a {
    font-size: 14px;
    color: #a94442;
    text-decoration: underline; }

.error-handle,
.alert.alert-warning {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #a94442;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px; }

.success-handle {
  margin: 0 auto;
  border: 1px solid #d6e9c6;
  color: #3c763d;
  background-color: #dff0d8;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  max-width: 300px; }

.button {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #00aeef;
  padding: 12px 51px;
  display: inline-block;
  border-radius: 7px;
  transition: all 0.2s ease;
  cursor: pointer;
  outline: none;
  border: none; }
  .button:hover {
    background-color: #0395ce;
    transition: all 0.2s ease; }
  .button.button-white {
    background-color: white;
    color: #126585; }
  .button.verify-review {
    font-size: 14px;
    padding: 0px 10px; }
    @media screen and (max-width: 768px) {
      .button.verify-review {
        font-size: 10px; } }

h2 {
  font-size: 40px;
  font-weight: 900; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 30px; } }

.input {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #dddddd;
  padding: 0px 6px;
  background-color: white;
  margin-bottom: 15px; }
  .input:focus {
    outline: none; }
  .input.has-error {
    border-color: rgba(255, 0, 0, 0.2); }
  .input[disabled] {
    background-color: #e5e9ed;
    opacity: .6;
    cursor: not-allowed; }

select.input {
  color: #888; }
  select.input option {
    color: black; }

textarea.input {
  width: 100%;
  padding: 10px;
  height: 90px;
  margin-top: 30px;
  font: inherit;
  font-size: 16px; }
  textarea.input::placeholder {
    font: inherit;
    font-size: 16px; }

.attach-file {
  display: inline-block;
  border: 1px solid #00aeef;
  padding: 15px 23px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease; }
  .attach-file span {
    background-color: transparent;
    font-size: 20px;
    color: #00aeef;
    font-weight: bold; }
  .attach-file:hover {
    background-color: #00aeef;
    transition: all 0.2s ease; }
    .attach-file:hover span {
      color: white; }
  .attach-file input {
    display: none; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 17px;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    header {
      padding-top: 10px;
      z-index: 1000; } }
  header .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    background: transparent; }
    @media screen and (max-width: 1200px) {
      header .navbar-header {
        width: 980px; } }
    @media screen and (max-width: 998px) {
      header .navbar-header {
        width: 720px; } }
    @media screen and (max-width: 768px) {
      header .navbar-header {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
    header .navbar-header .logo {
      width: 38px; }
      header .navbar-header .logo img {
        max-width: 100%; }
    header .navbar-header .button-sign-in {
      background-color: black;
      color: white;
      font-weight: bold;
      font-size: 18px;
      padding: 6px 15px;
      border: 1.5px solid black;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.2s ease; }
      header .navbar-header .button-sign-in:hover {
        background-color: white;
        color: black;
        transition: all 0.2s ease; }
    header .navbar-header .header-info .user-and-price {
      text-align: right;
      margin-right: 10px; }
    header .navbar-header .header-info .header-avatar img {
      border-radius: 50%; }
      @media screen and (max-width: 768px) {
        header .navbar-header .header-info .header-avatar img {
          width: 40px;
          height: 40px; } }

.search-bar {
  position: relative;
  margin-bottom: 30px; }
  .search-bar input {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 9px;
    font-size: 16px;
    box-shadow: 0px 0px 15px -1px #555454;
    padding: 0px 23px;
    background-color: white;
    border: none; }
    @media screen and (max-width: 768px) {
      .search-bar input {
        padding: 0px 10px; } }
    .search-bar input::placeholder {
      color: #888888; }
  .search-bar img {
    max-width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 17px; }
    @media screen and (max-width: 768px) {
      .search-bar img {
        right: 10px; } }
  .search-bar .results {
    position: absolute;
    background: white;
    top: 50px;
    border-radius: 7px;
    width: 100%;
    border: 2px solid #dddddd; }
    .search-bar .results .list {
      border-radius: 7px;
      padding: 5px; }
      .search-bar .results .list a {
        display: block;
        text-align: left;
        padding: 4px 30px;
        color: #333; }
        .search-bar .results .list a:hover {
          background-color: #00aeef;
          color: white; }

.search-wrapper {
  background-color: #00aeef;
  background-image: url("../img-support/questions.png");
  background-size: cover;
  background-position: 50%;
  padding-top: 80px;
  padding-bottom: 130px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .search-wrapper {
      padding-bottom: 90px; } }
  .search-wrapper .container {
    padding: 0px 40px; }
    @media screen and (max-width: 768px) {
      .search-wrapper .container {
        padding: 0px 15px; } }
  .search-wrapper h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .search-wrapper h1 {
        font-size: 30px;
        margin-bottom: 30px; } }

@media screen and (max-width: 768px) {
  .main-questions {
    text-align: left; } }
.main-questions .main-question {
  font-size: 18px;
  color: #feffff;
  border: 2px solid white;
  padding: 7px 12px;
  margin-right: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
  transition: all 0.2s ease; }
  @media screen and (max-width: 768px) {
    .main-questions .main-question {
      display: inline-block; } }
  .main-questions .main-question:focus, .main-questions .main-question:hover {
    background-color: white;
    color: #00aeef;
    transition: all 0.2s ease; }

.topics-wrapper {
  position: relative;
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .topics-wrapper {
      margin-bottom: 40px; } }
  .topics-wrapper .tag {
    position: absolute;
    max-width: 486px;
    top: -118px;
    left: 50%;
    transform: translateX(-50%); }
    @media screen and (max-width: 768px) {
      .topics-wrapper .tag {
        width: 310px;
        top: -88px; } }
  .topics-wrapper .tag-title {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: -65px; }
    @media screen and (max-width: 768px) {
      .topics-wrapper .tag-title {
        top: -56px; } }
  .topics-wrapper .categories-wrapper {
    position: relative;
    background-color: #eeeeee; }
    @media screen and (max-width: 998px) {
      .topics-wrapper .categories-wrapper {
        overflow-x: scroll; } }
    @media screen and (max-width: 998px) {
      .topics-wrapper .categories-wrapper .flex {
        display: block; } }
    .topics-wrapper .categories-wrapper .container {
      z-index: auto; }
      @media screen and (max-width: 998px) {
        .topics-wrapper .categories-wrapper .container {
          padding-left: 50px; } }
    .topics-wrapper .categories-wrapper .category {
      font-size: 18px;
      color: #00aeef;
      padding: 22px 8px;
      transition: all 0.2s ease;
      border-bottom: 2px solid #eeeeee; }
      @media screen and (max-width: 998px) {
        .topics-wrapper .categories-wrapper .category {
          display: inline-block;
          padding: 9px 18px; } }
      .topics-wrapper .categories-wrapper .category.active {
        color: black;
        border-bottom: 2px solid black; }
      .topics-wrapper .categories-wrapper .category:hover, .topics-wrapper .categories-wrapper .category:focus {
        color: black;
        transition: all 0.2s ease; }
  .topics-wrapper .categories-questions .category-questions {
    display: none;
    background: white;
    padding-top: 25px; }
    .topics-wrapper .categories-questions .category-questions.active {
      display: block; }
    .topics-wrapper .categories-questions .category-questions .question {
      position: relative;
      display: block;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      padding: 12px 30px 12px 36px;
      margin: 2px 0px;
      transition: all 0.2s ease; }
      @media screen and (max-width: 768px) {
        .topics-wrapper .categories-questions .category-questions .question {
          font-size: 20px; } }
      .topics-wrapper .categories-questions .category-questions .question:hover {
        transition: all 0.2s ease;
        color: #00aeef; }
      .topics-wrapper .categories-questions .category-questions .question::before {
        content: "";
        position: absolute;
        left: 0px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #00b0e9;
        top: 50%;
        transform: translateY(-50%); }
        @media screen and (max-width: 768px) {
          .topics-wrapper .categories-questions .category-questions .question::before {
            top: 14px;
            transform: none; } }
      .topics-wrapper .categories-questions .category-questions .question.disabled {
        color: #aaaaaa; }
      .topics-wrapper .categories-questions .category-questions .question .arrow {
        max-width: 12px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%); }

.contact-wrapper {
  text-align: center;
  padding-top: 30px;
  position: relative; }
  .contact-wrapper::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 330px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c9c9c9;
    top: 0px; }
    @media screen and (max-width: 768px) {
      .contact-wrapper::before {
        height: 2px;
        width: 215px; } }
  .contact-wrapper h2 {
    margin-bottom: 30px; }
  .contact-wrapper a {
    font-size: 20px;
    color: #00aeef;
    font-weight: 900;
    border: 2px solid #00aeef;
    padding: 12px 35px;
    border-radius: 8px;
    display: inline-block;
    transition: all 0.2s ease; }
    .contact-wrapper a:hover {
      background-color: #00aeef;
      color: white;
      transition: all 0.2s ease; }

.contact-container {
  width: 555px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
  background: transparent;
  padding-top: 80px; }
  @media screen and (max-width: 768px) {
    .contact-container {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; } }
  .contact-container h2 {
    margin-bottom: 30px; }
  .contact-container .file-requirements {
    color: #888;
    margin-top: 8px;
    margin-bottom: 30px;
    margin-left: 0px; }
  .contact-container .alert-error {
    margin-top: -10px; }
  .contact-container .g-recaptcha {
    margin-bottom: 30px; }
  .contact-container .alert-warning {
    margin-top: -5px !important; }
    .contact-container .alert-warning.alert-description, .contact-container .alert-warning.alert-issue {
      margin-bottom: 20px; }
    .contact-container .alert-warning.alert-file {
      margin-top: -10px !important;
      margin-bottom: 20px; }
    .contact-container .alert-warning.alert-platform {
      margin-bottom: 10px; }
  .contact-container .contact-success {
    display: none; }
    .contact-container .contact-success .alert {
      text-align: left; }
      .contact-container .contact-success .alert a {
        color: #00aeef;
        text-decoration: underline;
        font-size: 14px; }

.question-wrapper {
  padding-top: 80px;
  padding-bottom: 140px; }
  @media screen and (max-width: 768px) {
    .question-wrapper {
      padding-bottom: 110px; } }
  .question-wrapper .animation {
    opacity: 1;
    animation-name: OpacityEffect;
    animation-duration: 2s; }
@keyframes OpacityEffect {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .question-wrapper h2 {
    display: inline-block;
    background-color: #00b0e9;
    color: white;
    padding: 2px 20px 4px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .question-wrapper h2 {
        margin-bottom: 16px; } }
  .question-wrapper .question-content * {
    font-family: 'Calibri', sans-serif !important;
    text-align: inherit !important; }
  .question-wrapper .question-content p, .question-wrapper .question-content span, .question-wrapper .question-content a, .question-wrapper .question-content b, .question-wrapper .question-content strong, .question-wrapper .question-content i, .question-wrapper .question-content ol, .question-wrapper .question-content ul, .question-wrapper .question-content li, .question-wrapper .question-content em, .question-wrapper .question-content strike {
    font-size: 18px; }
  .question-wrapper .question-content .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
    .question-wrapper .question-content .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .question-wrapper .question-content ul {
    list-style: disc;
    padding-left: 20px; }
  .question-wrapper .question-content ol {
    list-style: number;
    padding-left: 20px; }
  .question-wrapper .question-content em {
    font-style: italic; }
  .question-wrapper .question-content a {
    color: #00b0e9;
    text-decoration: underline;
    font-weight: bold; }
  .question-wrapper .question-content .metamask-buttons {
    margin-bottom: 20px;
    display: block !important; }
    .question-wrapper .question-content .metamask-buttons a {
      display: inline-flex;
      align-items: center;
      border: 2px solid #00b0e9;
      border-radius: 7px;
      text-decoration: none !important;
      padding: 5px 10px;
      background-color: white;
      margin-top: 15px;
      margin-right: 10px; }
      .question-wrapper .question-content .metamask-buttons a:last-child {
        margin-right: 0px; }
      .question-wrapper .question-content .metamask-buttons a img:first-child {
        margin-right: 15px; }
      .question-wrapper .question-content .metamask-buttons a img:last-child {
        margin-left: 15px; }
  .question-wrapper .question-content b, .question-wrapper .question-content strong {
    font-weight: bold; }

.questions-search .search-bar .results {
  top: auto;
  bottom: 50px;
  z-index: 10; }

footer {
  margin-top: 60px;
  border-top: 1px solid black;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media screen and (max-width: 768px) {
    footer {
      padding-top: 30px;
      border-width: 2px;
      margin-top: 40px;
      padding-bottom: 30px; } }
  footer .container-footer {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    background: transparent; }
    @media screen and (max-width: 1200px) {
      footer .container-footer {
        width: 980px; } }
    @media screen and (max-width: 998px) {
      footer .container-footer {
        width: 720px; } }
    @media screen and (max-width: 768px) {
      footer .container-footer {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
  footer .socials {
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      footer .socials {
        text-align: center; } }
    footer .socials a {
      padding: 0 10px; }
      @media screen and (max-width: 768px) {
        footer .socials a {
          width: 19%;
          text-align: center;
          display: inline-block; } }
      footer .socials a img {
        width: 25px; }
  footer .footer-menu {
    padding-bottom: 30px; }
    @media screen and (max-width: 998px) {
      footer .footer-menu {
        flex-flow: row wrap; } }
    @media screen and (max-width: 768px) {
      footer .footer-menu {
        padding-bottom: 20px; } }
    footer .footer-menu > div,
    footer .footer-menu > a {
      padding: 0px 14px;
      color: #3e3e3e;
      font-size: 20px;
      font-weight: bold;
      position: relative; }
      footer .footer-menu > div.has-menu,
      footer .footer-menu > a.has-menu {
        background-image: url("https://dentacoin.com/assets/images/angle-down-solid.svg");
        background-repeat: no-repeat;
        background-size: 10px auto;
        background-position: 94% 59%;
        padding-right: 20px; }
      footer .footer-menu > div:hover,
      footer .footer-menu > a:hover {
        text-decoration: underline; }
        footer .footer-menu > div:hover .sub-menu,
        footer .footer-menu > a:hover .sub-menu {
          display: block; }
      footer .footer-menu > div:last-child::after,
      footer .footer-menu > a:last-child::after {
        display: none; }
      footer .footer-menu > div::after,
      footer .footer-menu > a::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background-color: #333; }
      footer .footer-menu > div .sub-menu,
      footer .footer-menu > a .sub-menu {
        display: none;
        position: absolute;
        padding: 10px;
        background-color: white;
        width: 120px;
        z-index: 50;
        left: 0;
        top: 100%;
        text-align: left;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4); }
        footer .footer-menu > div .sub-menu a,
        footer .footer-menu > a .sub-menu a {
          padding: 5px 0;
          color: #3e3e3e;
          font-size: 20px;
          font-weight: bold;
          display: block; }
          footer .footer-menu > div .sub-menu a:hover,
          footer .footer-menu > a .sub-menu a:hover {
            text-decoration: underline; }
  footer .all-rights {
    color: #3e3e3e; }
    footer .all-rights div {
      color: #3e3e3e; }
      @media screen and (max-width: 768px) {
        footer .all-rights div.contract-title {
          margin-top: 25px; } }
    footer .all-rights a {
      text-decoration: underline;
      color: #3e3e3e; }
      footer .all-rights a.footer-bottom-link {
        position: relative; }
        @media screen and (max-width: 768px) {
          footer .all-rights a.footer-bottom-link {
            display: block;
            clear: both;
            font-size: 18px;
            font-weight: bold;
            margin-top: 5px; } }
        footer .all-rights a.footer-bottom-link:first-child {
          margin-right: 6px;
          padding-right: 7px; }
          @media screen and (max-width: 768px) {
            footer .all-rights a.footer-bottom-link:first-child {
              margin-right: 0px;
              padding-right: 0px; } }
          footer .all-rights a.footer-bottom-link:first-child::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 14px;
            background-color: #333; }
            @media screen and (max-width: 768px) {
              footer .all-rights a.footer-bottom-link:first-child::after {
                display: none; } }
      @media screen and (max-width: 768px) {
        footer .all-rights a.contract-address {
          font-size: 12px;
          font-weight: bold; } }

.list-with-apps {
  background: transparent; }

.dcn-hub-mini.with-apps {
  z-index: 1000 !important; }

.dcn-privacy-policy-cookie .text {
  color: white; }
  .dcn-privacy-policy-cookie .text a {
    font-size: 18px !important; }
.dcn-privacy-policy-cookie .text-center {
  color: white; }
.dcn-privacy-policy-cookie .custom-checkbox-style .custom-checkbox-label {
  color: white; }
.dcn-privacy-policy-cookie .button {
  color: white;
  font-size: inherit;
  text-transform: inherit;
  background-color: inherit;
  padding: inherit;
  border-radius: inherit;
  outline: none;
  border: none; }
  .dcn-privacy-policy-cookie .button a {
    font-size: 18px !important; }

.dentacoin-login-gateway-container * {
  font-family: inherit; }
.dentacoin-login-gateway-container .dentacoin-login-gateway-wrapper {
  background-color: transparent; }
  .dentacoin-login-gateway-container .dentacoin-login-gateway-wrapper .popup-body .dentist h2,
  .dentacoin-login-gateway-container .dentacoin-login-gateway-wrapper .popup-body .patient h2 {
    font-weight: inherit;
    margin-bottom: inherit;
    text-align: left; }
  .dentacoin-login-gateway-container .dentacoin-login-gateway-wrapper .popup-header-action a[data-type="patient"].active .role-name {
    color: inherit; }
  .dentacoin-login-gateway-container .dentacoin-login-gateway-wrapper .facebook-custom-btn .inline-block {
    color: white; }
  .dentacoin-login-gateway-container .dentacoin-login-gateway-wrapper .inline-block {
    font-size: inherit; }
.dentacoin-login-gateway-container input[type="radio"] {
  -webkit-appearance: auto; }
.dentacoin-login-gateway-container a:hover {
  color: inherit; }
.dentacoin-login-gateway-container .custom-checkbox-style .custom-checkbox-label {
  color: white; }
.dentacoin-login-gateway-container .privacy-policy-row .custom-checkbox-label {
  color: black; }
.dentacoin-login-gateway-container .specializations .custom-checkbox-style .custom-checkbox-label {
  color: black; }
.dentacoin-login-gateway-container .padding-top-50 {
  color: white; }
.dentacoin-login-gateway-container .fa-sign-in-alt {
  color: white; }
.dentacoin-login-gateway-container .cr-viewport,
.dentacoin-login-gateway-container .cr-overlay {
  background: transparent !important; }
.dentacoin-login-gateway-container .blue-a {
  color: #0fb0e5;
  font-size: 18px; }
